<div class="ct-dialog">
  <mat-card-title class="mat-title-dialog text-center">
    <span>{{ 'transaction.refund.update-status.confirm-title' | translate }}</span>
  </mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content class="mb-0">
    <form [formGroup]="form" class="search-form" appFirstFocus>
      <div class="row">
        <div class="col-12 question-container">
          <div class="icon">
            <i class="material-icons">warning</i>
          </div>
          <div class="question">
            <div>
              {{ 'transaction.refund.update-status.confirm-text' | translate }}
              <b>
                <span *ngIf="isSuccess"> {{ 'transaction.refund.update-status.list.success' | translate }}</span>
                <span *ngIf="!isSuccess"> {{ 'transaction.refund.update-status.list.fail' | translate }}</span>
              </b>?
            </div>
            <div *ngIf="!isSuccess">
              {{ 'transaction.refund.update-status.confirm-fail' | translate }}
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row mt-3 ml-0 mr-0">
        <div class="col-md-7 pl-0">
          <span class="label">
            {{ "transaction.refund.import.password" | translate }}
          </span>
        </div>
        <div class="col-md-5 p-0">
          <input type="password" class="form-control fs-14" formControlName="password" />
          <mat-error class="text-error" *ngIf="submitted && f.password.invalid && f.password.errors.required">
            {{ commonErrorCode.REQUIRED | translate }}
          </mat-error>
        </div>
      </div>
    </form>
    <div class="row d-flex justify-content-center mt-3">
      <button type="button" class="btn-cancel text-white common-button" (click)="cancel()" mat-raised-button>
        <i class="material-icons">close</i>
        {{ 'payment-method.confirm.no' | translate }}
      </button>
      <button type="button" class="btn-save text-white ml-3 common-button" (click)="agree()" mat-raised-button>
        <i class="material-icons">save</i>
        {{ 'payment-method.confirm.yes' | translate }}
      </button>
    </div>
  </mat-card-content>
  <div class="btn-close" (click)="cancel()">
    <i class="material-icons">close</i>
  </div>
</div>
