.qr-code {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.ct-content {
  margin-top: 10px;
}

.dialog-title {
  text-align: center;
  padding: 0 20px;
  word-break: break-word;
-ms-word-break: break-all;
}
