<mat-card class="example-card common-management" *ngIf="!loading">
  <mat-card-title class="fs-16 mb-0 row d-flex">
    <div class="col-md-8">
      <div>
        {{
          "transaction.payment.detail_info.trans_payment_mutual_info"
            | translate
        }}
      </div>
      <div class="mb-3 d-flex align-items-center">
        <span class="fs-18 total-amount">
          {{ data?.amount | number : "1.0-2" }} VND
          <!-- <span *ngIf="data?.amount">{{ data?.currency | uppercase }}</span> -->
        </span>
        <span
          class="item-status"
          [ngClass]="{
            'bg-success': data?.status === '00',
            'bg-danger': data?.status === '01',
            'bg-warning': data?.status === '02'
          }"
          >{{
            "transaction.payment.statusList." + data?.status | translate
          }}</span
        >
      </div>
    </div>

    <div class="col-md-4 text-right buttons mb-3">
      <button mat-raised-button class="button-plus" (click)="returnMain()">
        <i class="material-icons">keyboard_return</i>
        {{ "transaction.payment.buttons.return" | translate }}
      </button>
    </div>
    <!-- <div
      class="col-md-4 text-right buttons"
      *ngIf="checkPermission(20104) && data?.status === '00'"
    >
      <button
        mat-raised-button
        class="button-plus"
        (click)="openRefund()"
        [disabled]="!isRefund"
      >
        <i class="material-icons">reply</i>
        {{ "transaction.payment.refund" | translate }}
      </button>
    </div> -->
  </mat-card-title>
  <mat-card-content class="header">
    <div class="">
      <mat-card-footer class="basic-info">
        <div class="row m-0">
          <div class="col-md-12 item">
            <span class="text-secondary">{{
              "transaction.payment.data_table.created_date" | translate
            }}</span>
            <span>{{ data?.createdAt | date : "dd/MM/yyyy HH:mm" }}</span>
          </div>
          <!-- <div class="col-md-4 item">
            <span class="text-secondary">{{
              "transaction.payment.merchant-id" | translate
            }}</span>
            <span>102575</span>
          </div>
          <div class="col-md-4 item">
            <span class="text-secondary">Tên ĐVCNTT</span>
            <span>VCE</span>
          </div> -->
        </div>
      </mat-card-footer>
    </div>
  </mat-card-content>
</mat-card>

<mat-card
  class="wallet-management common-management mt-3 trans-info"
  *ngIf="!loading"
>
  <mat-card-title class="w-100 title-container">
    <div class="row header ml-0 mr-0">
      <div class="col-6 p-0">
        <span class="title">{{
          "transaction.payment.detail_info.trans_payment_info" | translate
        }}</span>
      </div>
      <!-- <div class="col-6 pr-0 text-right">
        <button
          mat-raised-button
          class="button-plus"
          (click)="edit()"
          *ngIf="wallet?.status === 'rejected' || wallet?.status === 'active'"
        >
          <i class="material-icons">edit</i>
          {{ "commonAction.update" | translate }}
        </button>
      </div> -->
    </div>
  </mat-card-title>
  <mat-card-content class="content-container">
    <div class="info">
      <div class="label text-secondary">
        {{ "transaction.payment.data_table.trans_id" | translate }}:
      </div>
      <div class="data">{{ data?.id }}</div>
    </div>

    <div class="info">
      <div class="label text-secondary">
        {{ "transaction.payment.data_table.amount" | translate }}:
      </div>
      <div class="data">{{ data?.amount | number : "1.0-2" }} VND</div>
    </div>

    <div class="info">
      <div class="label text-secondary">
        {{ "transaction.payment.data_table.source_acc" | translate }}:
      </div>
      <div class="data">
        {{
          data && data.sourceInfo && data.sourceInfo.username
            ? data.sourceInfo.username
            : "N/A"
        }}
      </div>
    </div>
    <div class="info">
      <div class="label text-secondary">
        {{ "transaction.payment.data_table.source_name" | translate }}:
      </div>
      <div class="data">
        {{ data?.sourceInfo ? data.sourceInfo.fullname : "N/A" }}
      </div>
    </div>

    <div class="info">
      <div class="label text-secondary">
        {{ "transaction.payment.data_table.receive_acc" | translate }}:
      </div>
      <div class="data">
        {{ data?.receiverInfo ? data.receiverInfo.username : "N/A" }}
      </div>
    </div>
    <div class="info">
      <div class="label text-secondary">
        {{ "transaction.payment.data_table.receive_name" | translate }}:
      </div>
      <div class="data">
        {{ data?.receiverInfo ? data.receiverInfo.fullname : "N/A" }}
      </div>
    </div>

    <div class="info">
      <div class="label text-secondary">
        {{ "transaction.payment.data_table.content" | translate }}:
      </div>
      <div class="data">{{ data?.content }}</div>
    </div>

    <div class="info">
      <div class="label text-secondary">
        {{ "transaction.payment.data_table.trans_status" | translate }}:
      </div>
      <div class="data">
        <span
          class="item-status"
          [ngClass]="{
            'bg-success': data?.status === '00',
            'bg-danger': data?.status === '01',
            'bg-warning': data?.status === '02'
          }"
          >{{
            "transaction.payment.statusList." + data?.status | translate
          }}</span
        >
      </div>
    </div>

    <div class="info">
      <div class="label text-secondary">
        {{ "transaction.payment.data_table.created_date" | translate }}:
      </div>
      <div class="data">{{ data?.createdAt | date : "dd/MM/yyyy HH:mm" }}</div>
    </div>
  </mat-card-content>
</mat-card>

<!-- <div class="mt-3" *ngIf="!loading">
  <mat-accordion>
    <mat-expansion-panel [expanded]="true" class="ct-expansion">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h6 class="m-0">
            {{ "transaction.payment.transaction-information" | translate }}
          </h6>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="ct-expansion-content">
        <div class="row">
          <div class="col-xl-6">
            <div class="row trans-info">
              <div class="col-md-4 text-secondary">
                {{ "transaction.payment.trans-id" | translate }}:
              </div>
              <div class="col-md-8">
                {{ data?.id }}
              </div>
            </div>
            <div class="row trans-info">
              <div class="col-md-4 text-secondary">
                {{ "transaction.payment.transaction-content" | translate }}:
              </div>
              <div class="col-md-8">
                {{ data?.content }}
              </div>
            </div>
            <div class="row trans-info">
              <div class="col-md-4 text-secondary">
                {{ "transaction.payment.amount" | translate }}:
              </div>
              <div class="col-md-8">
                {{ data?.amount | number : "1.0-2" }} VND
              </div>
            </div>
            <div class="row trans-info">
              <div class="col-md-4 text-secondary">
                {{ "transaction.payment.transaction-status" | translate }}:
              </div>
              <div class="col-md-8">
                <span
                  class="item-status"
                  [ngClass]="{
                    'bg-success': data?.status === '00',
                    'bg-danger': data?.status === '01',
                    'bg-warning': data?.status === '02'
                  }"
                  >{{
                    "transaction.payment.statusList." + data?.status | translate
                  }}</span
                >
              </div>
            </div>

            <div class="row trans-info mb-xl-0">
              <div class="col-md-4 text-secondary">
                {{ "transaction.payment.trans-time" | translate }}:
              </div>
              <div class="col-md-8">
                {{ data?.createdAt | date : "dd/MM/yyyy HH:mm" }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div> -->

<!-- <div class="mt-3" *ngIf="!loading">
  <mat-accordion>
    <mat-expansion-panel class="ct-expansion">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h6 class="m-0">
            {{ "transaction.payment.payment-information" | translate }}
          </h6>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="ct-expansion-content">
        <div class="row">
          <div class="col-xl-6">
            <div class="row trans-info">
              <div class="col-md-4 text-secondary">
                {{ "transaction.payment.customer-name" | translate }}:
              </div>
              <div class="col-md-8">{{ data?.reqCardName }}</div>
            </div>
            <div class="row trans-info">
              <div class="col-md-4 text-secondary">
                {{ "transaction.payment.card" | translate }}:
              </div>
              <div class="col-md-8">{{ data?.account_number }}</div>
            </div>
            <div class="row trans-info">
              <div class="col-md-4 text-secondary">
                {{ "transaction.payment.payment-method" | translate }}:
              </div>
              <div class="col-md-8">{{ data?.pay_type }}</div>
            </div>
            <div class="row trans-info">
              <div class="col-md-4 text-secondary">
                {{ "transaction.payment.issue-by" | translate }}:
              </div>
              <div class="col-md-8">{{ issuer?.issuer_name }}</div>
            </div>
            <div class="row trans-info">
              <div class="col-md-4 text-secondary">
                {{ "transaction.payment.transaction-channel" | translate }}:
              </div>
              <div class="col-md-8">{{ data?.transaction_channel }}</div>
            </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div> -->

<!-- <div class="mt-3" *ngIf="!loading">
  <mat-accordion>
    <mat-expansion-panel class="ct-expansion">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h6 class="m-0">
            {{ "transaction.payment.merchant-info" | translate }}
          </h6>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="ct-expansion-content">
        <div class="row">
          <div class="col-xl-6">
            <div class="row trans-info">
              <div class="col-md-4 text-secondary">
                {{ "merchant.list.header.merchantName" | translate }}:
              </div>
              <div class="col-md-8">{{ merchant?.merchant_name }}</div>
            </div>
            <div class="row trans-info">
              <div class="col-md-4 text-secondary">
                {{ "merchant.list.header.phone" | translate }}:
              </div>
              <div class="col-md-8">{{ merchant?.agent_phone }}</div>
            </div>
            <div class="row trans-info">
              <div class="col-md-4 text-secondary">
                {{ "merchant.add.basicInfo.label.email" | translate }}:
              </div>
              <div class="col-md-8">{{ merchant?.agent_email }}</div>
            </div>
            <div class="row trans-info">
              <div class="col-md-4 text-secondary">
                {{ "merchant.add.basicInfo.label.address" | translate }}:
              </div>
              <div class="col-md-8">{{ merchant?.address }}</div>
            </div>
            <div class="row trans-info">
              <div class="col-md-4 text-secondary">
                {{ "transaction.payment.detail-page.agency" | translate }}:
              </div>
              <div class="col-md-8">{{ merchant?.agency_name }}</div>
            </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="mt-3" *ngIf="!loading">
  <mat-accordion>
    <mat-expansion-panel class="ct-expansion">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h6 class="m-0">
            {{ "transaction.payment.fee-info" | translate }}
          </h6>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="ct-expansion-content common-management">
        <div class="table-responsive table-hover">
          <table class="management-table table">
            <thead>
              <tr>
                <th class="">
                  {{ "fee.merchant.feeType.title" | translate }}
                </th>
                <th class="text-right">
                  {{
                    "transaction.payment.fee-detail.fee-merchant" | translate
                  }}
                </th>
                <th class="text-right">
                  {{ "transaction.payment.fee-detail.fee-issuer" | translate }}
                </th>
                <th class="text-right">
                  {{ "transaction.payment.fee-detail.fee-agency" | translate }}
                </th>
                <th class="text-right">
                  {{ "transaction.payment.fee-detail.revenue" | translate }}
                </th>
              </tr>
            </thead>
            <tbody *ngIf="feeInfo?.body && feeInfo?.body.length">
              <tr *ngFor="let item of feeInfo?.body">
                <td class="col-name">
                  {{
                    "transaction.payment.fee-detail." + item.fee_code
                      | translate
                  }}
                </td>
                <td class="text-right">
                  <span *ngIf="item.merchant_fee_value !== null">
                    {{ item.merchant_fee_value | number : "1.0-2" }}
                  </span>
                </td>
                <td class="text-right">
                  <span *ngIf="item.issuer_fee_value !== null">
                    {{ item.issuer_fee_value | number : "1.0-2" }}
                  </span>
                </td>
                <td class="text-right">
                  <span *ngIf="item.agency_fee_value !== null">
                    {{ item.agency_fee_value | number : "1.0-2" }}
                  </span>
                </td>
                <td class="text-right">
                  <span *ngIf="item.revenue !== null">
                    {{ item.revenue | number : "1.0-2" }}
                  </span>
                </td>
              </tr>
              <tr class="total">
                <td class="">
                  {{ "transaction.payment.fee-detail.sum" | translate }}
                </td>
                <td class="text-right">
                  {{ feeInfo?.sum.merchant_sum_fee | number : "1.0-2" }}
                </td>
                <td class="text-right">
                  {{ feeInfo?.sum.issuer_sum_fee | number : "1.0-2" }}
                </td>
                <td class="text-right">
                  {{ feeInfo?.sum.agency_sum_fee | number : "1.0-2" }}
                </td>
                <td class="text-right">
                  {{ feeInfo?.sum.revenue_sum | number : "1.0-2" }}
                </td>
              </tr>
              <tr class="total">
                <td class="">
                  {{ "transaction.payment.fee-detail.vat" | translate }}
                </td>
                <td class="text-right">
                  {{ feeInfo?.vat.merchant_VAT_fee | number : "1.0-2" }}
                </td>
                <td class="text-right">
                  {{ feeInfo?.vat.issuer_VAT_fee | number : "1.0-2" }}
                </td>
                <td class="text-right">
                  {{ feeInfo?.vat.agency_VAT_fee | number : "1.0-2" }}
                </td>
                <td class="text-right">
                  {{ feeInfo?.vat.revenue_VAT | number : "1.0-2" }}
                </td>
              </tr>
              <tr class="total">
                <td class="">
                  {{ "transaction.payment.fee-detail.sum-vat" | translate }}
                </td>
                <td class="text-right">
                  {{ feeInfo?.sum_vat.merchant_sum_VAT_fee | number : "1.0-2" }}
                </td>
                <td class="text-right">
                  {{ feeInfo?.sum_vat.issuer_sum_VAT_fee | number : "1.0-2" }}
                </td>
                <td class="text-right">
                  {{ feeInfo?.sum_vat.agency_sum_VAT_fee | number : "1.0-2" }}
                </td>
                <td class="text-right">
                  {{ feeInfo?.sum_vat.revenue_sum_VAT | number : "1.0-2" }}
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="feeInfo?.body && !feeInfo?.body.length">
              <tr>
                <td colspan="5" class="text-center">
                  {{ "transaction.payment.fee-detail.no-data" | translate }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="mt-3" *ngIf="!loading">
  <mat-accordion>
    <mat-expansion-panel class="ct-expansion">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h6 class="m-0">
            {{ "transaction.payment.transaction-history" | translate }}
          </h6>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="ct-expansion-content">
        <div class="history-container">
          <div class="content mt-0">
            <div class="history">
              <div class="dot bg-even"></div>
              <div class="history-content">
                <div class="">
                  {{
                    "transaction.payment.statusList." + history?.current?.status
                      | translate
                  }}
                </div>
                <div class="text-secondary fs-12">
                  {{ history?.current?.date_time }}
                </div>
              </div>
            </div>
            <div class="history">
              <div class="dot bg-normal"></div>
              <div class="history-content">
                <div class="">
                  {{
                    "transaction.payment.statusList." + history?.create?.status
                      | translate
                  }}
                </div>
                <div class="text-secondary fs-12">
                  {{ history?.create?.date_time }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="mt-3 mb-3 common-management" *ngIf="!loading">
  <mat-accordion>
    <mat-expansion-panel class="ct-expansion">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h6 class="m-0">
            {{ "transaction.payment.refund-history" | translate }}
          </h6>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="ct-expansion-content">
        <div class="table-responsive table-hover">
          <table class="management-table table">
            <thead>
              <tr>
                <th class="">
                  {{ "transaction.payment.refund-transaction-id" | translate }}
                </th>
                <th class="text-right">
                  {{ "transaction.payment.amount" | translate }}
                </th>
                <th class="text-center">
                  {{ "transaction.payment.status" | translate }}
                </th>
                <th class="text-center">
                  {{ "transaction.payment.time" | translate }}
                </th>
              </tr>
            </thead>
            <tbody *ngIf="refundHistory.length">
              <tr *ngFor="let item of refundHistory">
                <td class="col-name text-center">{{ item.refund_number }}</td>
                <td class="col-name text-right">
                  {{ item.refund_amount | number : "1.0-2" }}
                </td>
                <td class="col-name text-center">
                  <span>{{
                    "transaction.refund.statusList." + item.refund_status
                      | translate
                  }}</span>
                </td>
                <td class="col-name text-center">{{ item.refund_time }}</td>
              </tr>
            </tbody>
            <tbody *ngIf="!refundHistory.length">
              <tr>
                <td colspan="4" class="text-center">
                  {{ "transaction.payment.no-refund-trans" | translate }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div> -->
