<div class="">
  <mat-card class="mb-3">
    <mat-card-content>
      <div class="profile-management">
        <div class="row ml-0 mr-0">
          <div class="col-12 col-sm-8 col-lg-10 pl-0">
            <div class="row ml-0">
              <div class="avatar-container" (click)="openChangeImg()">
                <img class="avatar" [src]="profileImage" alt="user" default="{{ defaultAvatar }}" />
                <i class="fa fa-2x fa-camera img-upload" aria-hidden="true"></i>
              </div>

              <div class="profile-detail d-flex flex-column">
                <div class="fullname">{{ profile?.lastName }} {{ profile?.firstName }}</div>

                <div class="info">
                  <div class="col-title text-secondary">
                    {{ "profileAccount.username" | translate }}:
                  </div>
                  <div class="col-info ml-2">
                    {{ profile?.username }}
                  </div>
                </div>
                <div class="info">
                  <div class="col-title text-secondary">
                    {{ "profileAccount.email" | translate }}:
                  </div>
                  <div class="col-info ml-2">
                    {{ profile?.email }}
                  </div>
                </div>
                <div class="info">
                  <div class="col-title text-secondary">
                    {{ "profileAccount.gender.title" | translate }}:
                  </div>
                  <div class="col-info ml-2">
                    {{ profile?.gender }}
                  </div>
                </div>
                <div class="info">
                  <div class="col-title text-secondary">
                    {{ "profileAccount.phone" | translate }}:
                  </div>
                  <div class="col-info ml-2">
                    {{ profile?.phone }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-4 col-lg-2 pl-0 pr-0 edit-profile flex-column">
            <button mat-raised-button class="btn-edit" (click)="editProfile()">
              <i class="material-icons">edit</i>
              {{ "profileAccount.edit" | translate }}
            </button>
            <button mat-raised-button class="btn-edit mt-3 ml-2" (click)="editPassword()">
              <i class="material-icons">edit</i>
              {{ "profileAccount.changePassword" | translate }}
            </button>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>