@import "./../../../../../styles/ultilities/variable";
@import "./../../../../../styles/ultilities/_variable.color.scss";

.btn-edit {
  background-color: $main-color;
  color: #fff;
  min-width: 100px;
  height: 36px;
  padding: 0 10px;
}