<mat-card class="transaction-management common-management mb-3">
  <mat-card-content>
    <mat-card-title class="w-100 mb-4 text-center">
      <div class="header mr-0 w-100 text-center">
        <span class="title page-title">Câp nhập thông tin</span>
      </div>
      <div>
        <form [formGroup]="jobTypeForm" (ngSubmit)="onSubmit()">
          <mat-form-field class="w-100" appearance="standard">
            <mat-label style="font-size: 14px">{{ 'job-post.form.title' | translate  }}</mat-label>
            <textarea
              style="font-size: 14px"
              class="ct-textarea form-field"
              matInput
              formControlName="title"
              appNoSpecialCharacter
              maxlength="50"
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="2"
            ></textarea>
          </mat-form-field>
          
          <div class="d-flex justify-content-between align-items-center">
            <mat-form-field style="width: 45%;" appearance="standard">
              <mat-label style="font-size: 14px">{{ 'job-post.form.salary' | translate  }}</mat-label>
              <textarea
                style="font-size: 14px"
                class="ct-textarea form-field"
                matInput
                formControlName="salary"
                appNoSpecialCharacter
                maxlength="50"
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="2"
              ></textarea>
            </mat-form-field>
            <mat-form-field style="width: 45%;" appearance="standard">
              <mat-label style="font-size: 14px">{{ 'job-post.form.jobType' | translate  }}</mat-label>
              <mat-select formControlName="idJobType"  style="font-size: 14px">
                <mat-option *ngFor="let item of data" [value]="item.id">
                  {{ item.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <mat-form-field style="width: 45%;" >
              <mat-label style="font-size: 14px"> {{ 'job-post.form.expiredAt' | translate  }}</mat-label>
              <input matInput formControlName="expiredAt" [matDatepicker]="picker" style="font-size: 14px">
              <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
              <mat-datepicker #picker ></mat-datepicker>
            </mat-form-field>
            <mat-form-field style="width: 45%;" appearance="standard">
              <mat-label style="font-size: 14px">{{ 'job-post.form.country' | translate  }}</mat-label>
              <textarea
                style="font-size: 14px"
                class="ct-textarea form-field"
                matInput
                formControlName="country"
                appNoSpecialCharacter
                maxlength="50"
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="2"
              ></textarea>
            </mat-form-field>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <mat-form-field style="width: 45%;" appearance="standard">
              <mat-label style="font-size: 14px">{{ 'job-post.form.district' | translate  }}</mat-label>
              <textarea
                style="font-size: 14px"
                class="ct-textarea form-field"
                matInput
                formControlName="district"
                appNoSpecialCharacter
                maxlength="50"
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="2"
              ></textarea>
            </mat-form-field>
            <mat-form-field style="width: 45%;" appearance="standard">
              <mat-label style="font-size: 14px">{{ 'job-post.form.city' | translate  }}</mat-label>
              <textarea
                style="font-size: 14px"
                class="ct-textarea form-field"
                matInput
                formControlName="city"
                appNoSpecialCharacter
                maxlength="50"
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="2"
              ></textarea>
            </mat-form-field>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <mat-form-field style="width: 45%;" appearance="standard">
              <mat-label style="font-size: 14px">{{ 'job-post.form.ward' | translate  }}</mat-label>
              <textarea
                style="font-size: 14px"
                class="ct-textarea form-field"
                matInput
                formControlName="ward"
                appNoSpecialCharacter
                maxlength="50"
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="2"
              ></textarea>
            </mat-form-field>
            <mat-form-field style="width: 45%;" appearance="standard">
              <mat-label style="font-size: 14px">{{ 'job-post.form.street' | translate  }}</mat-label>
              <textarea
                style="font-size: 14px"
                class="ct-textarea form-field"
                matInput
                formControlName="street"
                appNoSpecialCharacter
                maxlength="50"
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="2"
              ></textarea>
            </mat-form-field>
          </div>
          <quill-editor
            [styles]="editorStyle"
            placeholder="Enter Text"
            formControlName="description"
            [modules]="editorModules"
            required
          >
          </quill-editor>
          <div class="mt-2">
            <button mat-raised-button color="primary">
              {{ 'job-post.form.save' | translate }}
            </button>
            <button class="ml-2" mat-raised-button (click) = "redirect()">
              {{ 'job-post.form.cancel' | translate }}
            </button>
          </div>
        </form>
      </div>
    </mat-card-title>
  </mat-card-content>
</mat-card>
